<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" charset="UTF-8"/>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2AXY_Sp5SKyMVdLWZRhTTHdWxj_hdPl0&sensor=true">
    </script>
    <script  type="text/javascript" src="./javascripts/gmaps.js"></script>
    <script type="text/javascript">
        var map;
        var markers;
        function createCORSRequest(method, url) {
            var xhr = new XMLHttpRequest();
            if ("withCredentials" in xhr) {
                // XHR for Chrome/Firefox/Opera/Safari.
                xhr.open(method, url, true);
            } else if (typeof XDomainRequest != "undefined") {
                // XDomainRequest for IE.
                xhr = new XDomainRequest();
                xhr.open(method, url);
            } else {
                // CORS not supported.
                xhr = null;
            }
            return xhr;
        }
        // The following example creates complex markers to indicate beaches near
        // Sydney, NSW, Australia. Note that the anchor is set to
        // (0,32) to correspond to the base of the flagpole.


        /*Данные по текущим запросам*/

        function initialize() {
            map = new GMaps({
                el: '#map-canvas',
                lat: 55.749792,
                lng: 37.632495,
                zoomControl : true,
                zoomControlOpt: {
                    style : 'SMALL',
                    position: 'TOP_LEFT'
                },
                panControl : false,
                streetViewControl : false,
                mapTypeControl: false,
                overviewMapControl: false
            });
            setMarkers(map);
        }

        function setMarkers(map) {
            console.log("Ответ в консоль");
            var url = 'http://sd-gate.naumen.ru:10067/sd/services/rest/exec?accessKey=7f01fc55-1ef7-4a70-ad0b-e5dea3328bf6&func=modules.map.activeScallsForMap&params=\'<%=searchBy%>\',\'<%=uuid%>\'';

            var xhr = createCORSRequest('GET', url);
            if (!xhr) {
                alert('CORS not supported');
                return;
            }

            var images = {};
            images['thumbs.png'] = {
                url: './images/thumbs.png'
            };
            images['error'] = {
                url: './images/error.png'
            };
            images['errorRed'] = {
                url: './images/errorRed.png'
            };
            images['shopping.png'] = {
                url: './images/shopping.png'
            };
            images['shoppingRed.png'] = {
                url: './images/shoppingRed.png'
            };
            // Shapes define the clickable region of the icon.
            // The type defines an HTML &lt;area&gt; element 'poly' which
            // traces out a polygon as a series of X,Y points. The final
            // coordinate closes the poly by connecting to the first
            // coordinate.
            var shape = {
                coord: [1, 1, 1, 20, 18, 20, 18 , 1],
                type: 'poly'
            };

            // Response handlers.
            xhr.onload = function() {
                console.log("Получение данных");
                map.removeMarker();
                var text = xhr.responseText;
                console.log(text);
                var data = JSON.parse(text);
                for(var scall in data) {
                    console.log(scall)
                    console.log(data[scall].title);
                    map.addMarker({
                        lat: data[scall].latitude,
                        lng: data[scall].longitude,
                        icon: './images/' + data[scall].icon,
                        title: data[scall].title,
                        infoWindow: {
                            maxWidth: 300,
                            content: '<h1><a target=\"_blank\" href=\"' + data[scall].link + '\">' + data[scall].title + '</a></h1><br><p>' + data[scall].description + '</p>'
                        }

                    });
                }
            };
            xhr.send();

        }
        google.maps.event.addDomListener(window, 'load', initialize);
        setInterval("setMarkers(map)", 10000);
    </script>
</head>
<body>
<div id="map-canvas"/>
</body>
</html>