<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" charset="UTF-8"/>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2AXY_Sp5SKyMVdLWZRhTTHdWxj_hdPl0&sensor=true">
    </script>
    <script  type="text/javascript" src="./javascripts/gmaps.js"></script>
    <script type="text/javascript">
        var map;
        function initialize() {
            map = new GMaps({
                el: '#map-canvas',
                lat: 55.749792,
                lng: 37.632495,
                zoomControl : true,
                zoomControlOpt: {
                    style : 'SMALL',
                    position: 'TOP_LEFT'
                },
                panControl : false,
                streetViewControl : false,
                mapTypeControl: false,
                overviewMapControl: false
            });
        };
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="map-canvas"/>
</body>
</html>